<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="css/template_styles.css?2">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
    <title>Calculator</title>
</head>
<body>


<form action="/" id="request-form">
    <main id="main" class="main padding-top">
        <div style="display: none" id="notification" class="notification" data-magellan>
            <a class="notification__link" href="#comparison"> Перейти к сравнению</a>
        </div>
        <section class="top-section">
            <div class="row">
                <div class="column small-12">
                    <div class="b-title  text-center -margin-y">
                        <h1>Калькулятор</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column small-12 medium-6">
                    <div class="row">
                        <div class="column small-12 medium-4">
                            <p class="b-input__title">
                                Выберите из списка
                            </p>
                        </div>
                        <div class="column small-12 medium-expand">
                            <div class="b-input">
                                <select name="calc_type" id="calc_type">
                                    <option selected disabled>Выберите из списка</option>
                                    <option value="1">Office</option>
                                    <option value="2">Office Professional Plus</option>
                                    <option value="3">Office Pofessional Plus Desktop</option>
                                    <option value="4">Windows Server Active Directory</option>
                                    <option value="5">Приложения</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="column small-12 medium-6">
                    <div class="dynamic-field" data-type="[5]">
                        <div class="row">
                            <div class="column small-12 medium-4">
                                <p class="b-input__title">
                                    Подгруппа из списка
                                </p>
                            </div>
                            <div class="column small-12 medium-expand">
                                <div class="b-input">
                                    <select name="sub_type" id="sub_type">
                                        <option selected disabled>Выберите из списка</option>
                                        <option value="1">Exchange</option>
                                        <option value="2">Skype for Business</option>
                                        <option value="3">SharePoint</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="dynamic-field" data-type="[1]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>1 943 152,00 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 246,56 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>1 924 656,00 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>18 496,00 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">

                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="100" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>MicrosoftCSPT1</span> <span class="article">AAA-10635</span>
                            </div>
                            <div class="product__title"><span>Office 365 Business <br> 1 Month(s)</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>515,49 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>618 588,00 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>412,50 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>495 000,00 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>123 588,00 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">

                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="100" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="12" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="dynamic-field" data-type="[2]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="dynamic-field" data-type="[3]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="dynamic-field" data-type="[4]">
            <div class="row small-up-1 medium-up-3">
                <div class="column --bundle">
                    <div class="product-card --bundle">
                        <div class="product">
                            <div class="bundle">
                                <div class="bundle__item">
                                    <div class="product__top">
                                        <span>Microsoft</span> <span class="article">021-10554</span>
                                    </div>
                                    <div class="product__title">
                                        <span>Бандл Office Pofessional Plus Desktop</span>
                                    </div>
                                    <div class="product__table">
                                        <div>
                                            <table>
                                                <tr>
                                                    <td></td>
                                                    <td>WinSvrSTDCore 2016 Single OLP 16License NL CoreLic</td>
                                                    <td>Windows Server CAL 2016 Single OLP NL Device CAL</td>
                                                    <td>Windows Server CAL 2016 Single OLP NL User CAL</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold"><span>Стоимость</span></td>
                                                    <td>46 071,34 р.</td>
                                                    <td>1 526,50 р.</td>
                                                    <td>1 983,33 р.</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold"><span>Сумма заказа</span></td>
                                                    <td>2 303 567,00 р.</td>
                                                    <td>152 650,00 р.</td>
                                                    <td>198 333,00 р.</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold"><span>Закупочная цена</span></td>
                                                    <td>45 632,81 р.</td>
                                                    <td>1 511,97 р.</td>
                                                    <td>1 964,45 р.</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold"><span>Сумма по закупочной цене</span></td>
                                                    <td>2 281 640,50 р.</td>
                                                    <td>151 197,00 р.</td>
                                                    <td>196 445,00 р.</td>
                                                </tr>
                                                <tr>
                                                    <td class="bold"><span>Маржа</span></td>
                                                    <td>25 267,50 р.</td>
                                                    <td>25 267,50 р.</td>
                                                    <td>25 267,50 р.</td>
                                                </tr>
                                            </table>

                                        </div>

                                    </div>
                                    <div class="product__content b-editor">
                                        <p>Переход в собственность после трех годовых платежей.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">AAA-11444</span>
                            </div>
                            <div class="product__title"><span>Azure Active Directory Premium P1 1 Month(s)</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn" data-magellan>
                                <label class="btn-checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <a class="btn-link" href="#comparison">к сравнению</a>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="sub-field" data-type="[1]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sub-field" data-type="[2]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                    <button class="button tiny">заказать</button>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="sub-field" data-type="[3]">
            <div class="row small-up-1 large-up-3">
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="product-card">
                        <div class="product">
                            <div class="product__top">
                                <span>Microsoft</span> <span class="article">021-10554</span>
                            </div>
                            <div class="product__title"><span>Office Standard 2016 Single OLP NL</span></div>
                            <div class="product__table">
                                <div>
                                    <table>
                                        <tr>
                                            <td class="bold"><span>Стоимость</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма заказа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Закупочная цена</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Сумма по закупочной цене</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                        <tr>
                                            <td class="bold"><span>Маржа</span></td>
                                            <td>19 431,52 р.</td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                            <div class="product__content b-editor">
                                <p>В состав входит Office 365, Windows 10 Enterprise и Enterprise Mobility +
                                    Security.</p>
                            </div>
                        </div>
                        <div class="product__bottom">
                            <div>
                                <div class="count">
                                    <span class="note">Кол-во</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                                <div class="count">
                                    <span class="note">Месяц</span>
                                    <button class="count-rem"></button>
                                    <input value="1" type="text">
                                    <button class="count-add"></button>
                                </div>
                            </div>
                            <div class="product__btn">
                                <label class="checkbox"><input type="checkbox">
                                    <span class="checker"></span>
                                    <span class="btn-label">сравнить</span>
                                </label>
                                <button class="button tiny">заказать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="comparison-section">
            <div class="b-title  text-center -margin-y">
                <h1>Сравнение</h1>
                <hr>
                <button type="button" onclick="resetForm()" class="button">очистить</button>
            </div>
            <div id="comparison" data-magellan-target="comparison" class="row">
                <div class="column small-12">
                    <div>
                        <table class="table-comparisons">
                            <tr>
                                <td></td>
                                <td>Office Standard 2016 Single OLP NL</td>
                                <td>Office 365 Business 1 Month(s)</td>
                            </tr>
                            <tr>
                                <td>Стоимость</td>
                                <td>19 431,52 р.</td>
                                <td>515,49 р.</td>
                            </tr>
                            <tr>
                                <td>Сумма заказа</td>
                                <td>1 943 152,00 р.</td>
                                <td>618 588,00 р.</td>
                            </tr>
                            <tr>
                                <td>Закупочная цена</td>
                                <td>19 246,56 р.</td>
                                <td>412,50 р.</td>
                            </tr>
                            <tr>
                                <td>Сумма по закупочной цене</td>
                                <td>1 924 656,00 р.</td>
                                <td>495 000,00 р.</td>
                            </tr>
                            <tr>
                                <td>Маржа</td>
                                <td>18 496,00 р.</td>
                                <td>123 588,00 р.</td>
                            </tr>
                            <tr>
                                <td>Кол-во</td>
                                <td>100</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <td>Месяц</td>
                                <td>100</td>
                                <td>12</td>
                            </tr>
                            <tr>
                                <td><strong>Выгода за 3 года, руб.</strong></td>
                                <td></td>
                                <td><strong>4 288 968 руб.</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <button class="button">заказать</button>
                                </td>
                                <td>
                                    <button class="button">заказать</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
</form>


<div class="pop-up reveal" id="form-result-modal" data-reveal>
    <h4></h4>
</div>

<script src="javascript/bundle.js?2"></script>

<script>
    $(document).foundation();
</script>

<script>
    $(document).ready(function () {
        $('input[type="checkbox"]').on('change', function () {
            var checkbox = $('#main').find('input[type="checkbox"]:visible');
            if (checkbox.filter(':checked').length > 1) {
                checkbox.filter(':checked').closest('.btn-checkbox').addClass('checked')
                checkbox.not(':checked').closest('.btn-checkbox').removeClass('checked')
                $('#notification').fadeIn();
            } else {
                checkbox.closest('.btn-checkbox').removeClass('checked');
                $('#notification').fadeOut();
            }
        });

        window.resetForm = function () {
            var checkbox = $('#main').find('input[type="checkbox"]').prop('checked', false).closest('.btn-checkbox').removeClass('checked');
            $('.comparison-section').slideUp();
            $('#notification').fadeOut();
        };

        (function ($) {
            var changeCount = function (btn) {
                var $countBlock = btn.closest('.count');
                var currentValue = Number($countBlock.find('input').val());
                var newValue = null;

                // Up or down
                if (btn.hasClass('count-add')) {
                    newValue = currentValue + 1;
                } else {
                    newValue = currentValue - 1;
                }

                if (newValue < 1) {
                    newValue = 1
                }
                $countBlock.find('input')
                    .val(newValue)
                    .triggerHandler('changequantity', {
                        'new_value': newValue,
                        'old_value': currentValue
                    })
                ;
            };

            $(document)
                .on('click.count', '.count-add, .count-rem', function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    changeCount($(this));
                })
                .on('change.count keyup.count', '.count input', function () {
                    var newValue = Number(this.value.replace(/[^\d]/g, ''));

                    if (newValue < 1) {
                        newValue = 1
                    }

                    this.value = newValue;
                })
                .on('cut copy paste', '.count input', function (event) {
                    this.innerHTML = event.type + ' ' + this.value;
                    return false;
                })
        })(jQuery);

    })


</script>
<script>
    $('.price').priceFormat({
        prefix: '',
        clearSuffix: true,
        suffix: '',
        centsSeparator: ',',
        centsLimit: 0,
        thousandsSeparator: ' '
    });


    $(".numeric").on("keypress keyup blur", function (event) {
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });

    $('.btn-link').click(function () {
        $('.comparison-section').slideDown('slow');
    });

    $('.notification__link').click(function () {
        $('.comparison-section').slideDown('slow');
    });
</script>
<script>
    $(document).ready(function () {
        $('select').niceSelect();
    });
</script>
</body>
</html>
