.bundle {
  overflow : hidden;

  &__item {
    position : relative;
    table {
      width : rem-calc(660);
      }

    &::after {
      position   : absolute;
      display    : inline-block;
      content    : '';
      right      : 0;
      box-shadow : inset -25px -2px 25px 0px rgba(255, 255, 255, 0.9);
      top        : 0;
      width      : 100%;
      height     : 100%;
      }
    }
  }

