.footer {
  &__place {
    display        : inline-block;
    color          : #000000;
    font-size      : rem-calc(13);
    letter-spacing : rem-calc(0.5);
    padding-top    : rem-calc(25);
    margin         : 0 auto;
    max-width      : 215px;

    @include breakpoint(medium up) {
      max-width : 100%;
    }

    @include breakpoint(large up) {
      padding-top  : 0;
      margin-right : 0;
    }

    a, span {
      display        : inline-block;
      color          : inherit;
      font-size      : inherit;
      letter-spacing : inherit;
    }
    a {
      &:hover {
        color : #db1f1f;
      }
    }
  }
}