.table-comparisons {
  font-size       : rem-calc(16);
  border-spacing  : 0;
  padding         : 0;
  font-weight     : normal;
  width           : 100%;
  border-collapse : collapse;

  td {
    height         : rem-calc(60);
    vertical-align : middle;
    color          : #333;
    padding        : rem-calc(0 20);
    border         : rem-calc(1) solid;
    border-color   : transparent #eaeaea transparent transparent;

    &:last-child {
      border-color : transparent;
      }

    &:first-child {
      font-weight : 500;
      }
    }

  tr {
    transition : background-color 0.15s;
    &:hover {
      background-color : #e7e9a2;
      }
    }
  }



