@import "elements/footer__logo";
@import "elements/footer__contacts";
@import "elements/footer__bottom";
@import "elements/footer__nav";
@import "elements/footer__place";
@import "elements/footer__socials";
@import "elements/footer__top";

.footer {

  &.-padding-top {
    padding-top : rem-calc(80);
  }
}