@import "elements/header__logo";
@import "elements/header__nav";
@import "elements/header__contacts";
@import "elements/header__top";
@import "elements/header__nav-btn";

.header {
  position         : relative;
  background-color : #000000;
  z-index          : 1;

  &.sticky.is-stuck {
	z-index : 20;
  }
}

header {
  position : relative;
  z-index  : 4;
}