.pop-up {
  padding          : rem-calc(40 75);
  box-shadow       : rem-calc(0 15px) rgba(2, 3, 3, 0.18);
  border-radius    : rem-calc(40);
  background-color : #ffffff;
  overflow-y       : visible;

  &__title {
    color          : #000000;
    font-size      : rem-calc(16);
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : rem-calc(1.7);
    padding-bottom : rem-calc(65);
  }
}