.b-input {
  &__title {
    display        : flex;
    align-items    : center;
    color          : #000000;
    font-size      : rem-calc(13);
    margin-bottom  : rem-calc(5);
    font-weight    : 500;
    padding-top    : rem-calc(5);

    &.text-center {
      justify-content : center;
      }
    }
  }