.product {
  &__bottom {
    position         : relative;
    width            : 100%;
    display          : flex;
    justify-content  : center;
    flex-wrap        : wrap;
    min-height       : rem-calc(90);
    padding          : rem-calc(15 20 25);
    border-radius    : 1rem 1rem 4rem 4rem;
    background-color : #e7e9eb;

    @include breakpoint(medium up) {
      justify-content : flex-start;
      padding         : rem-calc(20 20 25);
      }

    .count {
      margin-bottom : rem-calc(15);
      }
    }
  }