.product {
  &__table {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;

    table {
      width           : 100%;
      border-collapse : collapse;
      border-spacing  : 0;
      text-transform  : uppercase;
      font-size       : rem-calc(13);

      tr {
        @include breakpoint(small only) {
          display       : flex;
          flex-wrap     : wrap;
          margin-bottom : rem-calc(10);
          }
        }

      td {
        color          : #000000;
        vertical-align : middle;
        font-weight    : 500;
        line-height    : rem-calc(14);
        padding        : rem-calc(4 10);

        &.bold {
          width   : 100%;
          @include breakpoint(medium up) {
            width : rem-calc(130);
            }

          padding : 0;
          span {
            font-size        : rem-calc(11);
            display          : block;
            background-color : #e9cf86;
            letter-spacing   : 0.5px;
            padding          : rem-calc(4 7);
            font-weight      : 500;
            margin-bottom    : rem-calc(2);
            }
          }
        }
      }
    }
  }
