@import "product__table";
@import "product__bottom";

.product {
  flex             : 1 0 auto;
  max-width        : calc(100% - #{rem-calc(30)});
  width            : 100%;
  border-radius    : rem-calc(20 20 0 0);
  background-color : #ffffff;
  padding          : rem-calc(20);
  box-shadow       : rem-calc(1px 2px 18px) rgba(2, 3, 3, 0.08);
  margin           : 0 auto;

  @include breakpoint(medium up) {
    border-radius : rem-calc(40 40 0 0);
    padding       : rem-calc(30 20 20);
    }

  &__top {
    font-size   : rem-calc(16);
    font-weight : 400;
    color       : #000000;

    .article {
      padding-left : rem-calc(20);
      color        : #c5c2c2;
      }
    }

  &__title {
    position       : relative;
    z-index        : 1;
    padding-top    : rem-calc(3);
    padding-bottom : rem-calc(20);
    font-size      : rem-calc(18);
    font-weight    : 500;
    color          : #000000;

    @include breakpoint(medium up) {
      font-size : rem-calc(20);
      }
    }

  &__btn {
    @include breakpoint(medium up) {
      margin-left : auto;
      }

    }

  &__content {
    padding-top : rem-calc(20);
    }

  }



