.count {
  position  : relative;
  font-size : rem-calc(13);
  display   : flex;
  height    : rem-calc(20);

  .note {
    display      : block;
    font-size    : rem-calc(12);
    font-weight  : 500;
    margin-right : 20px;
    min-width    : rem-calc(38);
    //top          : rem-calc(-6);
    //left         : 0;
    //position    : absolute;
    // transform   : translateY(-100%);
    }

  input {
    padding          : rem-calc(0 6);
    display          : inline-block;
    line-height      : rem-calc(20);
    width            : rem-calc(35);
    overflow-x       : hidden;
    text-align       : center;
    box-shadow       : none;
    height           : auto;
    margin           : 0;
    background-color : transparent;
    border           : none;
    font-size        : inherit;
    border-color     : transparent;

    &:focus {
      background-color : transparent;
      box-shadow       : none;
      border           : none;
      }
    }

  &-add, &-rem {
    display          : inline-block;
    position         : relative;
    border-radius    : 50%;
    width            : rem-calc(20);
    height           : rem-calc(20);
    background-color : #ffffff;
    font-size        : rem-calc(14);
    color            : #000000;
    box-shadow       : rem-calc(0 2px 6px) rgba(2, 3, 3, 0.16);
    cursor           : pointer;
    transition       : background-color 0.25s;

    &:hover {
      background-color : #000000;

      &::after {
        color : #ffffff;
        }
      }
    }

  &-add {
    &::after {
      position    : absolute;
      content     : '+';
      color       : black;
      line-height : rem-calc(14);
      display     : inline-block;
      width       : rem-calc(10);
      height      : rem-calc(10);
      left        : rem-calc(5);
      top         : rem-calc(3);
      transition  : color 0.25s;
      }
    }

  &-rem {
    &::after {
      position    : absolute;
      content     : '–';
      color       : black;
      line-height : rem-calc(14);
      width       : rem-calc(10);
      height      : rem-calc(10);
      display     : inline-block;
      left        : rem-calc(5);
      top         : rem-calc(4);
      transition  : color 0.25s;
      }
    }
  }