.notification {
  position         : fixed;
  z-index          : 10;
  display          : flex;
  left             : 0;
  top              : 0;
  align-items      : center;
  justify-content  : center;
  color            : white;
  font-size        : rem-calc(20);
  text-align       : center;
  text-transform   : uppercase;
  height           : rem-calc(50);
  width            : 100%;
  background-color : rgba(55, 196, 7, 0.87);

  &__link {
    text-transform : inherit;
    font-size      : inherit;
    color          : inherit;

    &:hover, &:visited, &:focus {
      color : white;
      }


    }
  }