.header {
  &__nav-btn {
    .icon {
      width  : rem-calc(15);
      height : rem-calc(13);
      cursor : pointer;
      fill   : #ffffff;

      &:hover {
        opacity : 0.5;
      }
    }
  }
}
