.header {
  &__logo {
    max-width     : rem-calc(145);
    width         : 100%;
    min-width     : rem-calc(100);
    padding-right : rem-calc(20);
    flex          : 1 1 0%;

    @include breakpoint(large up) {
      padding-right : 0;
      max-width     : rem-calc(100);
      margin-right  : auto;
    }

    a {
      display : inline-block;
      height  : rem-calc(20);

      &:hover {
        opacity : .9;
      }
    }
  }
}