.header {
  &__nav {
	display        : flex;
	align-items    : center;
	color          : #ffffff;
	font-size      : rem-calc(12);
	padding        : rem-calc(0 22 0 0);
	margin-left    : auto;
	letter-spacing : rem-calc(1.2px);

	@include breakpoint(large up) {
	  padding : rem-calc(0 39 0 0);
	}

	ul {
	  display       : flex;
	  list-style    : none;
	  margin-left   : 0;
	  margin-bottom : 0;
	  padding       : 0;

	  a {
		font-size   : inherit;
		color       : inherit;
		line-height : inherit;
		transition  : ease-in .2s;
		&:hover {
		  color : #ff5757;
		}
	  }

	  li {
		flex    : 1 1 auto;
		display : inline-block;
		padding : rem-calc(0 7);
	  }
	}
  }
}