.header {
  &__contacts {
    display        : flex;
    flex-flow      : column wrap;
    order          : 10;
    align-items    : center;
    opacity        : 0.9;
    color          : #ffffff;
    font-size      : rem-calc(12);
    flex-basis     : 100%;
    letter-spacing : rem-calc(0.48px);

    @include breakpoint(medium up) {
      flex-flow  : row wrap;
      flex-basis : auto;
      order      : 0;
    }

    a {
      display        : inline-block;
      position       : relative;
      font-size      : inherit;
      color          : inherit;
      line-height    : rem-calc(13);
      padding        : rem-calc(8 0);
      letter-spacing : inherit;
      margin-right   : rem-calc(20);
      opacity        : 0.9;

      @include breakpoint(medium up) {
        padding        : 0;
      }

      &:last-child {
        margin-right : 0;
      }

      &:hover {
        opacity : 1;
      }
    }

    span {
      display : inline-block;
    }

    .icon {
      position     : relative;
      top          : 2px;
      opacity      : .6;
      margin-right : rem-calc(7);
      stroke       : #ffffff;

      &.icon-tel {
        width  : rem-calc(15);
        height : rem-calc(15);
      }

      &.icon-mail {
        width  : rem-calc(19);
        height : rem-calc(12);
      }
    }
  }
}