* {
  outline : none;
  }

html, body {
  min-height : 100%;
  height     : 100%;
  }

body {
  display        : flex;
  flex-direction : column;
  @include breakpoint(large up) {
    & > .sticky-container {
      min-height : rem-calc(72);
      }
    }
  }

.top-section {
  padding-bottom : rem-calc(40);
  }

.main {
  flex           : 1 0 auto;
  padding-bottom : rem-calc(30);
  &.-padding-y {
    padding-top : rem-calc(40);
    @include breakpoint(medium up) {
      padding-top : rem-calc(60);
      }
    @include breakpoint(large up) {
      padding-top : rem-calc(85);
      }
    }
  }

.b-title {
  margin         : 0 auto;
  width          : calc(100% - #{rem-calc(30)});
  position       : relative;
  color          : #000000;
  font-size      : rem-calc(16);
  font-weight    : 700;
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  padding-bottom : rem-calc(5);

  @include breakpoint(large up) {
    width : 100%;
    }

  &::after {
    content          : "";
    position         : absolute;
    display          : inline-block;
    width            : rem-calc(15);
    height           : rem-calc(3);
    background-color : #e30000;
    left             : 0;
    bottom           : 0;
    }

  &.-margin-y {
    margin-bottom : rem-calc(45);
    }

  &.-large-offset {
    @include breakpoint(large up) {
      padding-left : rem-calc(60);
      &::after {
        left : rem-calc(60);
        }
      }
    }
  }

.b-editor {
  color       : #000000;
  font-size   : rem-calc(14);
  line-height : rem-calc(23);

  &.-product {
    padding-top    : rem-calc(8);
    padding-bottom : rem-calc(20);
    }

  P {
    color         : #000000;
    font-size     : inherit;
    line-height   : rem-calc(23);
    margin-bottom : rem-calc(14);
    }

  h1 {
    color          : #000000;
    font-weight    : 600;
    text-transform : uppercase;
    letter-spacing : rem-calc(1.5);
    @include breakpoint(large up) {
      margin-bottom : rem-calc(30);
      font-size     : rem-calc(24);
      line-height   : rem-calc(25);
      }
    }
  }

.button {
  line-height    : rem-calc(12);
  text-transform : uppercase;
  letter-spacing : rem-calc(2);
  font-weight    : 600;
  margin         : rem-calc(0) !important;
  box-shadow     : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.16);

  &.tiny {
    min-width      : rem-calc(128);
    letter-spacing : normal;
    padding        : rem-calc(6);
    text-align     : center;
    }

  &.no-shadow {
    box-shadow : none;
    }

  &.text-tiny {
    font-weight : 400;
    }

  &:hover, &:focus {
    color      : $black;
    box-shadow : 0 rem-calc(5px 5px) rgba(2, 3, 3, 0.04);
    }

  &.alternate {
    background-color : #a8aeb5;

    &:hover {
      color            : white;
      background-color : $black;
      }
    }

  &.darker {
    font-weight      : 400;
    background-color : #434343;

    &:hover {
      color            : white;
      background-color : $black;
      }

    }
  }

.dynamic-field, .sub-field {
  display : none;
  }

.form-title {
  padding-top    : rem-calc(40);
  padding-bottom : rem-calc(25);
  @include breakpoint(medium up) {
    padding-top    : rem-calc(60);
    padding-bottom : rem-calc(40);
    }
  }

.two-column-form {
  @include breakpoint(small only) {
    .row {
      margin-bottom : rem-calc(40);
      }

    .b-input {
      padding-bottom : 15px;
      & .b-input__title {
        color : #ccc;
        }
      }
    }
  }

@include breakpoint(small only) {
  .b-input__title {
    padding-left  : rem-calc(22) !important;
    padding-right : rem-calc(22) !important;
    }
  }

.table {
  font-weight     : 400;
  border-collapse : collapse;
  font-size       : rem-calc(12);

  line-height     : 1.2;
  width           : 100%;
  margin-top      : rem-calc(40);
  text-align      : left;

  td {
    font-weight : inherit;
    padding     : rem-calc(10);
    border      : rem-calc(1) solid #000000;
    }

  tr {
    &:first-child {
      td {
        font-weight : 600;
        }
      }
    }
  }

.chart-container {
  margin-top    : rem-calc(40);
  margin-bottom : rem-calc(40);
  width         : 100%;

  @include breakpoint(medium up) {
    margin-top    : rem-calc(60);
    margin-bottom : rem-calc(60);
    }
  }

.text-center > .button {
  margin-left  : rem-calc(10);
  margin-right : rem-calc(10);
  }

.steps {
  margin-left     : auto;
  margin-right    : auto;
  width           : 100%;
  max-width       : rem-calc(450);
  position        : relative;
  display         : flex;
  justify-content : space-between;
  margin-bottom   : rem-calc(40);
  &::before {
    position         : absolute;
    height           : rem-calc(1);
    background-color : #adadad;
    top              : rem-calc(15);
    left             : rem-calc(60);
    right            : rem-calc(60);
    content          : '';
    }
  .step {
    position    : relative;
    padding-top : rem-calc(40);
    text-align  : center;
    font-size   : 14px;
    flex        : 1;

    &::after {
      position         : absolute;
      width            : rem-calc(46);
      height           : rem-calc(30);
      z-index          : 0;
      left             : 50%;
      top              : 0;
      content          : '';
      transform        : translateX(-50%);
      background-color : #fff;

      }
    &::before {
      position         : absolute;
      left             : 50%;
      top              : 0;
      content          : '';
      transform        : translateX(-50%);
      width            : rem-calc(30);
      height           : rem-calc(30);
      border-radius    : 50%;
      background-color : #e5e5e5;
      border           : rem-calc(2) solid #cfcfcf;
      z-index          : 1;
      }
    }
  .step.active {
    &::before {
      background-color : #6cf40b;
      }
    }
  }

.sale {
  display : none;

  &--visible {
    display : table;
    }
  }

.column.--bundle {
  transition : 0.20s ease-in-out;
  &:hover {
    flex      : 0 0 auto;
    width     : 100%;
    max-width : rem-calc(770);
    }
  }


