small {
  font-size      : 13px;
  font-weight    : 400;
  text-transform : none;
  }

.b-title {
  margin-bottom : 35px !important;
  }

.b-title::after {
  display : none !important;
  }

.padding-top {
  padding-top : 45px;
  }

.b-input {
  padding-bottom : 15px !important;
  }

.button {
  min-width : 160px;
  }

.btn-wrap {
  padding-top : 25px;
  }

.nice-select {
  min-height  : 40px !important;
  line-height : 40px !important;
  height      : auto !important;
  }

.b-input input, .b-input textarea {
  height     : auto !important;
  min-height : 40px !important;
  }

.table, .chart-container {
  margin-top    : 0 !important;
  margin-bottom : 0 !important;
  }

.chart-wrap {
  padding-top : 40px;
  }



.radio-inline {
  display           : -webkit-inline-box;
  display           : -ms-inline-flexbox;
  display           : inline-flex;
  -webkit-box-align : center;
  -ms-flex-align    : center;
  align-items       : center;
  padding           : 0 12px;
  }

.radio-inline label {
  display     : inline-block;
  line-height : 36px;
  }

.radio-inline label input {
  margin-bottom : 0 !important;
  }

.close {
  position    : relative;
  display     : inline-block;
  width       : 15px;
  height      : 15px;
  cursor      : pointer;
  margin-left : 5px;
  }

.close::after {
  display           : inline-block;
  position          : absolute;
  content           : '';
  left              : 0;
  top               : 50%;
  width             : 100%;
  -webkit-transform : translateY(-50%) rotate(45deg);
  -ms-transform     : translateY(-50%) rotate(45deg);
  transform         : translateY(-50%) rotate(45deg);
  height            : 2px;
  background-color  : #0a0a0a;
  }

.close::before {
  display           : inline-block;
  position          : absolute;
  content           : '';
  left              : 0;
  top               : 50%;
  width             : 100%;
  -webkit-transform : translateY(-50%) rotate(-45deg);
  -ms-transform     : translateY(-50%) rotate(-45deg);
  transform         : translateY(-50%) rotate(-45deg);
  height            : 2px;
  background-color  : #0a0a0a;
  }

.b-input {
  label {
    position : relative;

    .num-symbol {
      position  : absolute;
      font-size : rem-calc(14);
      top       : rem-calc(8);
      right     : rem-calc(15);
      }
    }
  }